/* All button and a tags */

button,
a {
  @apply transition-colors duration-200 ease-in-out;
}

/* For custom table */

.custom-table-scroll::-webkit-scrollbar {
  @apply w-2 h-2;
}
.custom-table-scroll::-webkit-scrollbar-track {
  @apply rounded-lg bg-slate-200;
}
.custom-table-scroll::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-slate-400/50;
}
.custom-table-scroll::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-400;
}

/* For mobile menu */
.mobile-links a {
  @apply rounded-xl px-4 py-2 font-medium bg-soento-white text-soento-green;
}

.mobile-links a.active {
  @apply bg-soento-green text-soento-white;
}

/* For sidebar and navigation */

.navlinks a.active {
  @apply bg-[#085351];
}

.navlinks a:hover {
  @apply bg-[#085351];
}

.navlinks a svg {
  @apply text-xl;
}

.navlinks::-webkit-scrollbar {
  @apply w-0 h-0;
}

.navlinks-parent::-webkit-scrollbar {
  @apply w-0 h-0;
}
